*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: white;
}

:root{
    --color-primary:rgb(0, 187, 255);
    --color-secondary:violet;
    --color-third:rgb(71, 208, 71);
    --color-fourth:pink;
    --color-fifth: orange;
    --color-sixth: rgb(185, 237, 95);
    --color-seventh: rgba(248, 248, 248, 0.941);
    --color-eighth: rgba(196, 196, 196, 0.941);
}

header{
    padding: 2rem;
}

.logo_image{
    width: 3rem;
    height: 3rem;
    vertical-align: bottom;
}

.text{
    font-size: 40px;
    font-family: sans-serif;
    font-weight: bold;
}

button{
    display: inline;
    text-align: center;
    margin: 0.5rem;

}

.container{
    border-top: 3rem solid var(--color-seventh);
    border-right: 8rem solid var(--color-seventh);
    border-left: 8rem solid var(--color-seventh);
    border-bottom: 4rem solid var(--color-seventh);
    background-color: white;
    
}
.under_container1{
    padding-left: 3rem;
}

.button1{
    background-color: var(--color-primary);
    color: white;
    border:2px solid var(--color-primary);
    padding: 0.5rem;
    border-radius: 9px;

}

.button2{
    background-color: white;
    color: var(--color-eighth);
    border: 2px solid var(--color-eighth);;
    padding: 0.5rem;
    border-radius: 9px;
    
}

hr {
    border: 1;
    color: var(--color-seventh)
    }

.under_container2{
    padding-left: 3rem;
    margin-top: 2rem;
}
h2{
    margin-top: 1rem;
}

.indicator{
    font-size: small;

}

.line{
    display: inline-block;
    margin-top: 3px;
}

ul {
    list-style-type: none;
}

.check {
    background-color: white;
    color: var(--color-third);
    border: 1px solid var(--color-third);;
    border-radius: 50%;
    padding: 2px;
    margin: 5px;
}

.cross {
    background-color: white;
    color: red;
    border: 1px solid red;;
    border-radius: 50%;
    padding: 2px;
    margin: 5px;
}

.font{
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}

.button3{
    color: white;
    border: solid;
    padding: 6px;
    border-radius: 20px;

}


footer{

}